@mixin slider {
    width: 100%;
    height: 100vh;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.carousel {
    background-color: #aaa;

    .c_1 {
        @include slider();
        background-image: url('../../assets/images/carousel-images/carousel-1.jpg');
    }

    .c_2 {
        @include slider();
        background-image: url('../../assets/images/carousel-images/carousel-2.jpg');
    }
}

.slick-arrow.slick-prev {
    width: 100px;
    height: 100px;
    background-color: blue;
    color: red;
}
.slick-arrow.slick-next {
    width: 100px;
    height: 100px;
    background-color: blue;
    color: red;
}